<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000"/>
    <!-- <link rel="apple-touch-icon" href="/icons/icon-192x192.png"> -->
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Movie Catalogue</title>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>For Your Stomach</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>

        
        
       

    </header>
        <main>
        <section id="maincontent" class="content">
            <div class="latest">
                <h1 class="latest__label">Explore Restaurant</h1>
                <div class="posts" id="restaurant-card"></div>
            </div>
        </section>
    </main>
        <footer>
            <p class="footer-text">Copyright &#169 2022 - For Your Stomach</p>
        </footer>
   
        
    </body>
</html>
