<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
</head>
<body>
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_2.jpg');">
        <div class="hero__inner">
            <h1 class="hero__title">Laper Apps</h1>
            <p class="hero__tagline">Find the best restaurants only on the best websites.</p>
        </div>
    </div>
<h1>Restaurant Apps Starter Project</h1>
<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
<p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
<img src="./images/heros/hero-image_1.jpg" width="450" alt="">
<img src="./images/heros/hero-image_2.jpg" width="450" alt="">
<img src="./images/heros/hero-image_3.jpg" width="450" alt="">
<img src="./images/heros/hero-image_4.jpg" width="450" alt="">
</body>
</html>
