<!DOCTYPE html>
<html lang="en">
  <head>
    <title>For Your Stomach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="For Your Stomach, Restaurant Catalogue" />
    <meta name="theme-color" content="#faebd7"/>
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css"
    />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>

  <body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header>
      <nav-bar></nav-bar>

      <hero-content class="hero__text"></hero-content>
    </header>

    <main id="main-content"></main>

    <custom-footer></custom-footer>
  </body>
</html>
