/*
 * header
 */
.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-color: green;
  background-image: url('/images/hero-image_2.jpg');
}

.hero-img {
  z-index: 0;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 50px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 20px;
  font-weight: 300;
}